{% extends "base/base.html" %}

{% block title %}Custom Package{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/customPackage.css' %}">
{% endblock css %}
{% block content %}

 <!--! First Section  -->
    <section
      id="location-Sec"
      class="d-block section-animation"
      style="margin-top: 50px; margin-bottom: 50px"
    >
      <div class="container-fluid my-5">
        <h1 style="font-size: 40px; font-weight: 600">Create your package</h1>
      </div>
      <div class="row m-0 text-center">
        <div class="col">Location check</div>
        <div class="col">Stage 1 - Interior</div>
        <div class="col">Stage 2 - Exterior</div>
        <div class="col">Extras</div>
        <div class="col">Confirm</div>
      </div>
      <div class="progress2 progress-moved">
        <div class="progress-bar1"></div>
      </div>

      <div class="container mt-4">
        <div class="d-flex justify-content-center align-items-center">
          <a class="back-btn me-4 mb-2" href="./index.html">
            <svg
              height="16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="0 0 1024 1024"
            >
              <path
                d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"
              ></path>
            </svg>
            <span>Back</span>
          </a>
          <h1
            style="font-size: 40px; font-weight: 700"
            class="my-5"
            onclick="goToSage1()"
          >
            Location Check
          </h1>
        </div>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
          style="margin: 50px 0"
        >
          <p>Create your own personalised package</p>

          <form action="#" method="get">
            <div class="mb-3">
              <input
                type="text"
                style="
                  background: #5177ff;
                  color: white;
                  border: none;
                  outline: none;
                  border-radius: 20px;
                  width: 30vw;
                  height: 2.5rem;
                  padding: 5px;
                  text-align: center;
                  letter-spacing: 3px;
                "
                placeholder="XXXX XXX "
                id="heroinput"
              />
            </div>
          </form>
        </div>
      </div>
    </section>

    <!--! Second Section  -->
    <section
      id="progress_Section1"
      class="d-none section-animation"
      style="margin-top: 50px; margin-bottom: 50px"
    >
      <div class="container-fluid my-5">
        <h1 style="font-size: 40px; font-weight: 600">
          Stage 1 - Select Interior package
        </h1>
      </div>
      <div class="row m-0 text-center">
        <div class="col">Location check</div>
        <div class="col">Stage 1 - Interior</div>
        <div class="col">Stage 2 - Exterior</div>
        <div class="col">Extras</div>
        <div class="col">Confirm</div>
      </div>
      <div class="progress2 progress-moved">
        <div class="progress-bar2"></div>
      </div>

      <div class="container mt-4">
        <div class="d-flex justify-content-center align-items-center">
          <a class="back-btn me-4 mb-2" onclick="backToLocation()">
            <svg
              height="16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="0 0 1024 1024"
            >
              <path
                d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"
              ></path>
            </svg>
            <span>Back</span>
          </a>
          <h1 style="font-size: 40px; font-weight: 700" class="my-5">
            Choose Your package
          </h1>
        </div>

        <div class="container-fluid justify-content-center">
          <div class="row">
            <div
              class="col col-md-4 d-flex flex-column justify-content-cente text-center"
            >
              <p class="my-2 fs-5" style="font-weight: 700">Bronze</p>
              <p class="my-2 fs-6">£10</p>
              <p>Package includes:</p>
              <div class="custom_card mx-auto" onclick="firstSecCard(10);">
                <p style="color: #ffffff" class="mt-4">Citrus pre-wash</p>
                <p style="color: #ffffff" class="mt-4">
                  Dash and plastics dressed
                </p>
                <p style="color: #ffffff" class="mt-4">
                  Interior windows cleaned
                </p>
              </div>
            </div>
            <!-- !1st Section 2nd Card  -->
            <div
              class="col col-md-4 d-flex flex-column justify-content-cente text-center"
            >
              <p class="my-2 fs-5" style="font-weight: 700">Silver</p>
              <p class="my-2 fs-6">£20</p>
              <p>Package includes:</p>
              <div class="mb-3 mx-auto include_box">
                <p class="my-auto">*BRONZE PACKAGE INCLUDED*</p>
              </div>

              <div
                class="custom_card mx-auto"
                style="height: 200px"
                onclick="firstSecCard(20);"
              >
                <p style="color: #ffffff" class="mt-4">
                  All interior surfaces sanitised
                </p>
                <p style="color: #ffffff" class="mt-4">
                  Wet and dry vacuum car seats and matts
                </p>
              </div>
            </div>
            <!--! 1st Section 3rd Card  -->
            <div
              class="col col-md-4 d-flex flex-column justify-content-cente text-center"
            >
              <p class="my-2 fs-5" style="font-weight: 700">Gold</p>
              <p class="my-2 fs-6">£30</p>
              <p>Package includes:</p>
              <div class="mb-3 mx-auto include_box">
                <p class="my-auto">*BRONZE PACKAGE INCLUDED*</p>
              </div>
              <div class="mb-3 mx-auto include_box">
                <p class="my-auto">*SILVER PACKAGE INCLUDED*</p>
              </div>
              <div
                class="custom_card mx-auto"
                style="height: 200px"
                onclick="firstSecCard(30);"
              >
                <p style="color: #ffffff" class="mt-4">
                  All interior surfaces sanitised
                </p>
                <p style="color: #ffffff" class="mt-4">
                  Wet and dry vacuum car seats and matts
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--! Third Section  -->
    <section
      id="progress_Section2"
      class="d-none"
      style="margin-top: 50px; margin-bottom: 50px"
    >
      <div class="container-fluid my-5">
        <h1 style="font-size: 40px; font-weight: 600">
          Stage 2 - Select Exterior package
        </h1>
      </div>
      <div class="row m-0 text-center">
        <div class="col">Location check</div>
        <div class="col">Stage 1 - Interior</div>
        <div class="col">Stage 2 - Exterior</div>
        <div class="col">Extras</div>
        <div class="col">Confirm</div>
      </div>
      <div class="progress2 progress-moved">
        <div class="progress-bar3"></div>
      </div>

      <div class="container mt-4">
        <div class="d-flex justify-content-center align-items-center">
          <a class="back-btn me-4 mb-2" onclick="backBtn1()">
            <svg
              height="16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="0 0 1024 1024"
            >
              <path
                d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"
              ></path>
            </svg>
            <span>Back</span>
          </a>
          <h1 style="font-size: 40px; font-weight: 700" class="my-5">
            Choose Your Package
          </h1>
        </div>

        <div class="container-fluid justify-content-center">
          <div class="row">
            <div
              class="col col-md-4 d-flex flex-column justify-content-cente text-center"
            >
              <p class="my-2 fs-5" style="font-weight: 700">Bronze</p>
              <p class="my-2 fs-6">£30</p>
              <p>Package includes:</p>
              <div class="custom_card mx-auto" onclick="secondSecCard(30)">
                <p style="color: #ffffff" class="mt-4">Citrus pre-wash</p>
                <p style="color: #ffffff" class="mt-4">
                  Dash and plastics dressed
                </p>
                <p style="color: #ffffff" class="mt-4">
                  Interior windows cleaned
                </p>
              </div>
            </div>
            <!-- !1st Section 2nd Card  -->
            <div
              class="col col-md-4 d-flex flex-column justify-content-cente text-center"
            >
              <p class="my-2 fs-5" style="font-weight: 700">Silver</p>
              <p class="my-2 fs-6">£20</p>
              <p>Package includes:</p>
              <div class="mb-3 mx-auto include_box">
                <p class="my-auto">*BRONZE PACKAGE INCLUDED*</p>
              </div>
              <div
                class="custom_card mx-auto"
                style="height: 200px"
                onclick="secondSecCard(20)"
              >
                <p style="color: #ffffff" class="mt-4">BRONZE PACKAGE</p>
                <p style="color: #ffffff" class="mt-4">
                  All interior surfaces sanitised
                </p>
                <p style="color: #ffffff" class="mt-4">
                  Wet and dry vacuum car seats and matts
                </p>
              </div>
            </div>
            <!--! 1st Section 3rd Card  -->
            <div
              class="col col-md-4 d-flex flex-column justify-content-cente text-center"
            >
              <p class="my-2 fs-5" style="font-weight: 700">Gold</p>
              <p class="my-2 fs-6">£10</p>
              <p>Package includes:</p>
              <div class="mb-3 mx-auto include_box">
                <p class="my-auto">*BRONZE PACKAGE INCLUDED*</p>
              </div>
              <div class="mb-3 mx-auto include_box">
                <p class="my-auto">*SILVER PACKAGE INCLUDED*</p>
              </div>
              <div
                class="custom_card mx-auto"
                style="height: 200px"
                onclick="secondSecCard(10)"
              >
                <p style="color: #ffffff" class="mt-4">
                  BRONZE + SILVER PACKAGES
                </p>
                <p style="color: #ffffff" class="mt-4">Shampoo seats</p>
                <p style="color: #ffffff" class="mt-4">Signature frangrance</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--! Fourth Section  -->
    <section
      id="progress_Section3"
      class="d-none"
      style="margin-top: 50px; margin-bottom: 50px"
    >
      <div class="container-fluid my-5">
        <h1 style="font-size: 40px; font-weight: 600">Extras</h1>
      </div>
      <div class="row m-0 text-center">
        <div class="col">Location check</div>
        <div class="col">Stage 1 - Interior</div>
        <div class="col">Stage 2 - Exterior</div>
        <div class="col">Extras</div>
        <div class="col">Confirm</div>
      </div>
      <div class="progress2 progress-moved">
        <div class="progress-bar4"></div>
      </div>

      <div class="container mt-4">
        <div class="d-flex justify-content-center align-items-center">
          <a class="back-btn me-4 mb-2" onclick="backBtn2()">
            <svg
              height="16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="0 0 1024 1024"
            >
              <path
                d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"
              ></path>
            </svg>
            <span>Back</span>
          </a>
          <h1 style="font-size: 40px; font-weight: 700" class="my-5">
            Choose Your Extras
          </h1>
        </div>

        <div class="container-fluid justify-content-center">
          <div class="row">
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
            <div class="col-4 my-3 mx-auto include_box">
              <p class="my-auto"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="my-5 text-center">
        <h1>Don't need extra packages</h1>
        <button class="primary-btn" onclick="thirdSecCard(0)">
          Confirm Order
        </button>
      </div>
    </section>

    <!--! Fifth Section  -->
    <section
      id="progress_Section4"
      class="d-none"
      style="margin-top: 50px; margin-bottom: 50px"
    >
      <div class="row m-0 text-center">
        <div class="col">Location check</div>
        <div class="col">Stage 1 - Interior</div>
        <div class="col">Stage 2 - Exterior</div>
        <div class="col">Extras</div>
        <div class="col">Confirm</div>
      </div>

      <div class="progress2 progress-moved">
        <div class="progress-bar5"></div>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <a class="back-btn me-4 mb-2" onclick="backBtn3()">
          <svg
            height="16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0 0 1024 1024"
          >
            <path
              d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"
            ></path>
          </svg>
          <span>Back</span>
        </a>
        <h1 style="font-size: 40px; font-weight: 700">Confirm</h1>
      </div>
    </section>

    <!-- !cost of all selected item  -->
    <div class="my-5">
      <hr class="m-0" style="border-width: 3px" />

      <div class="d-flex justify-content-between align-items-center px-4">
        <h6 class="my-auto" style="font-weight: 600">TOTAL COST</h6>
        <p class="my-auto" id="costElement">00.0£</p>
      </div>

      <hr class="m-0" style="border-width: 3px" />
    </div>
{% block js %}
<script src="{% static 'js/server.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
{% endblock js %}
{% endblock content %}